:ruby
  show_path =
    if datatables_active_admin_path?
      admin_effective_trash_path(trash)
    elsif datatables_admin_path?
      effective_logging.admin_trash_path(trash)
    else
      effective_logging.trash_path(trash)
    end

= link_to show_path, title: 'view' do
  %span.glyphicon.glyphicon-eye-open

= link_to effective_logging.restore_trash_path(trash), title: 'Restore', data: {confirm: 'Restore this item?'} do
  %span.glyphicon.glyphicon-retweet
