:ruby
  show_path =
    if datatable.try(:admin_namespace?)
      effective_logging.admin_log_path(log)
    else
      effective_logging.log_path(log)
    end

- if log.logs_count.to_i > 0
  = link_to show_path, title: 'View' do
    %span.glyphicon.glyphicon-eye-open
    = "(#{log.logs_count})"
- else
  = link_to show_path, title: 'View' do
    %span.glyphicon.glyphicon-eye-open
